<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar Información Personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #perfilForm="ngForm" (ngSubmit)="guardarDatos()">
    <label>Nombre: </label>
    <input [(ngModel)]="admin.nombres" name="nombres" required type="text" />

    <label>Apellidos:</label>
    <input type="text" [(ngModel)]="admin.apellidos" name="apellidos" required />

    <label>Teléfono:</label>
    <input type="text" placeholder="0000-0000" [(ngModel)]="admin.telefono" name="telefono" pattern="\d{4}-\d{4}"
      maxlength="9" required id="telefono" />

    <label>Fecha de nacimiento:</label>
    <input type="date" placeholder="DD/MM/YYYY" [(ngModel)]="admin.fecha_nacimiento" name="fecha_nacimiento" required
      id="fecha" placeholder="DD/MM/YYYY" min="1900-01-01" max="2100-12-31" />

    <label>Email:</label>
    <input type="text" placeholder="Ejemplo@correo.com" [(ngModel)]="admin.email" name="email" required />

    <label>Contraseña:</label>
        <div class="span">
      <span>*Debe tener al menos 8 carácteres*</span> <br/>
      <span>*Deja este espacio en blanco sino la deseas cammbiar*</span>
    </div>
    <input type="password" placeholder="Contraseña" [(ngModel)]="admin.password" name="password"/>


    <ion-button type="submit" shape="round">
      <ion-icon name="save" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>