.imagen-container {
  overflow: hidden;
  flex-shrink: 0;
}

.imagen {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  border-radius: 25px;
}

.citas {
  border-radius: 25px;
  width: 350px;
  background: linear-gradient(to right, #cdffd8, #94b9ff);
  margin: 10px auto;
  box-sizing: border-box;
  padding: 10px;
}

.citaspendientes {
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
}

.botones {
  flex-direction: column;
  display: flex;
}

h2 {
  text-align: center;
  margin: 10px;
}

.contenido-cita p {
  color: #000;
  margin: 10px;
}

.contenido-servicio p {
  color: #000;
  margin: 10px;
}

.editar {
  --background: #3bb04f;
  --color: #fff;
  width: 200px;
  margin: 5px auto;
}

.cancelar {
  --background: red;
  --color: #fff;
  width: 200px;
  margin: 5px auto;
}

.completar {
  --color: #fff;
  width: 200px;
  margin: 5px auto;
  --background: blue;
}

.mensaje {
  text-align: center;
  background-color: red;
  width: 350px;
  display: block;
  margin: auto;
  border-radius: 25px;
  padding: 10px;
  color: #fff;
}

.padre {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 10px;
}
