<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Crea un nuevo usuario para que pueda acceder al panel de administrador</p>

    <form (ngSubmit)="crearUsuario()">
    <label>Nombres:</label>
    <input
      type="text"
      placeholder="Nombres"
      [(ngModel)]="admin.nombres"
      name="nombres"
      required
    />

    <label>Apellidos:</label>
    <input
      type="text"
      placeholder="Apellidos"
      [(ngModel)]="admin.apellidos"
      name="apellidos"
      required
    />

    <label>Teléfono:</label>
    <input
      type="text"
      placeholder="0000-0000"
      [(ngModel)]="admin.telefono"
      name="telefono"
      pattern="\d{4}-\d{4}"
      maxlength="9"
      required
      id="telefono"
    />

    <label>Fecha de nacimiento:</label>
    <input
      type="date"
      placeholder="DD/MM/YYYY"
      [(ngModel)]="admin.fecha_nacimiento"
      name="fecha_nacimiento"
      required
      id="fecha"
      placeholder="DD/MM/YYYY"
      min="1900-01-01"
      max="2100-12-31"
    />

    <label>Email:</label>
    <input
      type="text"
      placeholder="Ejemplo@correo.com"
      [(ngModel)]="admin.email"
      name="email"
      required
    />

    <label>Contraseña:</label>
    <div class="span">
      <span>*Debe tener al menos 8 carácteres*</span>
    </div>
    <input
      type="password"
      placeholder="Contraseña"
      [(ngModel)]="admin.password"
      name="password"
      required
      id="password"
    />

    <ion-button shape="round" type="submit">
      <ion-icon slot="start" name="person-add"></ion-icon
      >Registrarse</ion-button
    >
  </form>
</ion-content>
