p {
  margin: 10px 50px;
}

h2 {
  text-align: center;
  margin: 10px;
}

.botonescitas {
    display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 10px;
}

ion-button{
  width: 300px;
  height: 50px;
  margin: 10px;
  --color: #FFF;
}

ion-icon{
  margin-right: 10px;
}